//Variables
$base-color: #685848;

//Import
@import 'sencha-touch/default/all';

//Modules
@include sencha-panel;
@include sencha-buttons;
// @include sencha-sheet;
// @include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
// @include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
// @include sencha-carousel;
// @include sencha-form;
// @include sencha-msgbox;

@include pictos-iconmask('icon-belons');
@include pictos-iconmask('icon-mailons');
@include pictos-iconmask('icon-route');
@include pictos-iconmask('icon-website');

//Own styling
.titleLogo{
	display:block;
	position:absolute;
	top:9px;
	left:50%;
	margin-left:-75px;
	width:150px;
	height:31px;
	background:url(../images/logo.png) no-repeat top left;
}

.x-tab-normal .x-button-label{
	text-transform:uppercase;
}
//Retina styling
@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
	.titleLogo{
		background:url(../images/logo@2x.png) no-repeat top left;
		background-size:150px 31px;
	}

}